body,
html {
  height: 100%;
}
.navbar-bg {
  background: rgba(87, 111, 114, 1);
}
.gradient {
  background: rgb(125, 157, 156);
  background: linear-gradient(155deg, rgba(125, 157, 156, 1) 49%, rgba(87, 111, 114, 1) 100%);
}

.page-header {
  margin-top: auto;
  margin-bottom: auto;
}
